<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inagata.komunitaskelas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".KomunitasKelasApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashScreen"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.WelcomeScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.CreateClassActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="in.co.madhur.chatlib.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".ui.activity.ThreadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ThreadDetailActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
